<br>
<!-- Footer ================================================== -->
<hr>
<div id="footer">
    <hook name="footer_start"/>
    <div class="links">
        
    </div>
    <div style="text-align: center; padding-top: 20px;">
        版权所有: {{site.company}}. All Right 2018-2019 电话：01087676977 邮件：zhaodu@zhaodujianshe.com
    </div>
    <p style="text-align: center;padding: 20px 0 30px 0">
        <a href="http://beian.miit.gov.cn"> 京ICP备19027220号-1</a>
        </p>
</div>
<div id="backtotop">
    <i class="fa fa-arrow-circle-up"></i>
</div>
<script>
    $('.hover_').on('mouseenter',function (e) {
        var This=$(this);
        var hin = This.attr('data-in');
        This.addClass(hin);
        This.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend  animationend',function () {
            $(this).removeClass(hin);
        });
    });
</script>
