<widget name="hottest_articles">
    <div class="tc-box">
        <div class="headtitle">
            <h2>{{site.company}}</h2>
        </div>
        <div class="ranking">
            <ul class="list-unstyled">
                
                <li class="top3">
                    <i>1</i>
                    <a title=""  href="/about/company.html">公司概况</a>
                </li>
                <li class="top3">
                    <i>2</i>
                    <a title=""  href="/about/lianxiwomen.html">联系我们</a>
                </li>
                <li class="top3">
                    <i>3</i>
                    <a title=""  href="/about/rencaizhaopin.html">人才招聘</a>
                </li>
                <li>
                    <i>4</i>
                    <a title=""  href="/about/zhaobiaodaili.html">招标代理</a>
                </li>
                <li>
                    <i>5</i>
                    <a title=""  href="/about/fuwuyoushi.html">服务优势</a>
                </li>
                <li>
                    <i>6</i>
                    <a title=""  href="/about/xiangmuguanli.html">项目管理</a>
                </li>
            </ul>
        </div>
    </div>
</widget>