<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body class="body-white">
{% include nav.html%}
{{content}}

<div class="footer">
    <div class="container">
        {% include footer.html %}
    </div>
</div>

<!-- /container -->
<include file="public@scripts"/>
<script src="{{site.baseurl}}/assets/js/slippry.min.js"></script>
<script>
    $(function () {
        $("#home-slider").slippry({
            transition: 'fade',
            useCSS: true,
            captions: false,
            speed: 1000,
            pause: 3000,
            auto: true,
            preload: 'visible'
        });
        $("#home-slider").show();
    });


</script>
<hook name="before_body_end"/>
</body>
</html>
